.titulo {
    font-size: 40px;
    font-family: 'Dancing script', cursive;
    margin-bottom: 40px;

}

.contenedor {
    width: 90%;
    margin: auto;
}

.card-img-top {
    transition: 0.4s;
    padding: 10px;
}

.card-img-top:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.cartas{
    display: flex;
}

.card{
    width: 30rem;
}


/*Responsive de las cartas de servicios*/
@media(max-width:820px){
    .cartas{
        display: block;
    }

    .card{
        width: 40rem;
    }
}

@media(max-width:768px){
    .card{
        width: 36rem;
    }
}

@media(max-width:690px){
    .card{
        width: 30rem;
    }
}
@media(max-width:567px){
    .card{
        width: 25rem;
    }
}

@media(max-width:473px){
    .card{
        width: 20rem;
    }
}

@media(max-width:387px){
    .card{
        width: 16rem;
    }
}

@media(max-width:321px){
    .card{
        width: 12rem;
    }
}
/*-----------------------------------*/




footer{
    background-color: gray;
    padding-top: 50px;
    justify-content: space-around;
}

footer ul{
    list-style: none;
    margin-right: 20px;
}

footer ul li{
    text-align: left;
    border-left: 1px solid white;
    padding: 5px 5px;
    
}


footer ul li a{
    text-decoration: none;
    color: rgba(228, 228, 228, 0.905);
    text-align: left;
    margin: 2px;
    transition: all 0.4s;
}

footer ul li a:hover{
    color: rgb(255, 220, 154);
}

.contactos li{
    color: white;
}

@media(max-width:387px){
    iframe{
        width: 200px;
    }
}

iframe {
    border: 1px solid black;
    width: 100%;
}