body{
    min-height: 100vh;
}

.main-container{
    display: flex;
    min-height: calc(100vh - 100px) ;
    
}

header{
    height: 100px;
    display: flex;
}

.sidebar { 
    min-width: 300px;
    display: flex;
    background-color: gray;
}

.sidebar li{
    list-style: none;
}


.content {
    flex-grow: 1;
    display: flex;
}

.inner-text {
    font-weight: 700;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: auto;
}

img {
    width: 4%;
}

table {
    max-height: 100px !important;
}

@media only screen and (max-width: 1076px){
    .main-container{
        flex-direction: column !important;
    }
    .sidebar{
        height: 200px;  
    }
}

.nav-pills{
    margin-left: 5%;
}

.nav-pills li a:hover{
    background-color: rgb(111, 171, 210);
}



