</head>

<body>
  <!-- cabecera -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="/img/logo.png" alt="" class="bg-light rounded">
        <a class="navbar-brand" href="/"><span class="ms-2">PS Barber Online</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

    <!-- prueba -->

    

    
<!-- Menu lateral -->

  <div class="main-container">
    <aside class="sidebar">
        <ul class="nav nav-pills flex-column mt-4">
          <li class="nav-item py-2 py-sm-0">
            <a href="/" class="nav-link text-dark">
              <i class="fa-solid fa-house"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Inicio</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="/rol" class="nav-link text-dark">
              <i class="fa-solid fa-user"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Roles</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="/usuarios" class="nav-link text-dark">
              <i class="fa-solid fa-user-group"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Usuarios</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="/proveedor" class="nav-link text-dark">
              <i class="fa-solid fa-truck"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Proveedores</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="" class="nav-link text-dark">
              <i class="fa-solid fa-calendar-days"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Agenda</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="/producto" class="nav-link text-dark">
              <i class="fa-solid fa-scissors"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Productos</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="/compra" class="nav-link text-dark">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Compras</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="" class="nav-link text-dark">
              <i class="fa-solid fa-book"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Catalogo</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="" class="nav-link text-dark">
              <i class="fa-solid fa-dollar-sign"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Ventas</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="" class="nav-link text-dark">
              <i class="fa-solid fa-users"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Clientes</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0">
            <a href="" class="nav-link text-dark">
              <i class="fa-solid fa-chart-line"></i>
              <span class="fs-4 ms-2 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
        </ul>
    </aside>

    <main class="content">
    